xml/ns/dbchangelog-ext/oraext.xsd.txt

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.liquibase.org/xml/ns/dbchangelog-ext/oraext"
            xmlns="http://www.liquibase.org/xml/ns/dbchangelog-ext/oraext"
            elementFormDefault="qualified">


	<xsd:attributeGroup name="CheckConstraintConditions" >

		<xsd:attribute name="condition" type="xsd:string" />

	</xsd:attributeGroup>

	
	<xsd:element name="addCheckConstraint">
		<xsd:complexType>
			<xsd:attribute name="schemaName" type="xsd:string"/>
            <xsd:attribute name="tableName" type="xsd:string" use="required"/>
            <xsd:attribute name="constraintName" type="xsd:string"/>
            <xsd:attribute name="tablespace" type="xsd:string"/>
            <xsd:attribute name="deferrable" type="xsd:boolean"/>
            <xsd:attribute name="initiallyDeferred" type="xsd:boolean"/>
            <xsd:attribute name="condition" type="xsd:string" use="required"/>
            
                
		</xsd:complexType>
	</xsd:element>



</xsd:schema>